/* Estilos para la barra de búsqueda */
.header-searchh {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    border-radius: 4px;
    padding: 8px;
    justify-content: space-between; /* Para alinear elementos a los lados */
}

/* Estilo para el menú desplegable de categorías */
.input-selectcat {
    border: none;
    background: transparent;
    font-size: 14px;
    color: #333;
    flex-grow: 1;
    margin-right: 8px; /* Espacio entre el menú desplegable y la barra de búsqueda */
    width: 25%; /* Ajusta el ancho según tus necesidades */
}

/* Estilo para el campo de entrada de texto */
.inputsrch {
    border: none;
    background: transparent;
    font-size: 14px;
    color: #333;
    flex-grow: 1;
    margin-right: 8px; /* Espacio entre la barra de búsqueda y el botón */
    width: 35%; /* Ajusta el ancho según tus necesidades */
}

/* Estilo para el botón de búsqueda */
.search-botn {
    background-color: #D10024;
    border: none;
    padding: 10px 12px; /* Ajusta el tamaño del botón según tus necesidades */
    border-radius: 4px;
    cursor: pointer;
    width: 10%; /* Ajusta el ancho del botón según tus necesidades */
    display: flex; /* Para centrar el ícono verticalmente */
    align-items: center; /* Para centrar el ícono verticalmente */
    justify-content: center; /* Para centrar el ícono horizontalmente */
}

/* Estilo para el ícono dentro del botón */
.search-botn svg {
    vertical-align: middle;
}
